.user-bg-container {
  font-family: 'Roboto';
}

.management-heading {
  font-size: 40px;
  text-align: center;
  color: purple;
}

.add-user-btn {
  background-color: #33beff;
  color: white;
  height: 35px;
  width: 120px;
  font-size: 20px;
  border-radius: 10px;
  border-width: 0px;
  margin-bottom: 15px;
}
